@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: flex;
    animation: marquee 10s linear infinite;
    /* Ensure there's enough width for the scrolling text */
    min-width: 100%; /* Adjust as necessary based on your content width */
}